// Feel free to change this vars as desired!

// Brand colors
$grey: #f3f3f3;
$white: #ffffff;
$blue: #050e50;
$cerulean: #34427d;
$link: #303e79;

// Secondary Colors
$shadow-10: #a7afb754;
$grey-10: #dde4eb;
$purple-10: #34427d;

// Tertiary Colors
$grey-20: #d8d8d8;
