.dashboard-wrapper {
  .side-nav {
    @include mobile {
      height: 100vh;
      position: absolute;
    }
    background: transparent linear-gradient(360deg, $blue 0%, $cerulean 100%) 0%
      0% no-repeat padding-box;
    opacity: 1;
    width: 270px;
    &__brand {
      align-items: center;
      display: flex;
      gap: 7px;
      justify-content: center;
      padding: 13px 28px 29px;
    }
    &__brand-logo {
      align-items: center;
      background-color: $purple-10;
      border-radius: 2rem;
      display: flex;
      height: 40px;
      justify-content: center;
      width: 40px;
      label {
        color: $white;
        font-weight: bold;
      }
    }
    &__brand-label {
      color: $white;
      font-size: 25px;
    }
    &__user {
      align-items: center;
      background-color: rgba($color: $grey-20, $alpha: 0.1);
      border-radius: 3px;
      display: flex;
      margin: auto;
      margin-bottom: 44px;
      width: 208px;
      img {
        height: 35px;
        object-fit: none;
        padding: 14px 16px 12px 18px;
        width: 35px;
      }
    }
    &__user-info {
      p {
        color: $white;
        font-size: 0.75rem;
        &:first-of-type {
          font-size: 0.93rem;
          font-weight: bold;
        }
      }
    }
    &__menu {
      display: flex;
      flex-direction: column;
      label {
        color: $white;
        opacity: 0.6;
        padding: 0 28px 9px;
      }
      hr {
        color: $white;
        margin: 0 28px;
        opacity: 0.13;
      }
      ul {
        padding-top: 25px;
        li {
          a {
            align-items: center;
            color: $white;
            display: flex;
            height: 55px;
            padding: 0 28px;
            text-decoration: none;
            &:hover {
              background: $white;
              color: $link;
            }
          }
        }
      }
    }
  }
}
