.icon {
  cursor: pointer;
}

.mobile-icon {
  width: 18px;
  height: 18px;

  @include breakpoint(lg) {
    width: 22px;
    height: 22px;
  }
}

.mobile-icon-lg {
  width: 36px;
  height: 36px;
}
